<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.zayzou.dvdstore.controller.MovieController">
        <property name="movieService" ref="movieService"></property>
    </bean>

    <bean id="movieService"  class="com.zayzou.dvdstore.service.DefaultMovieService">
        <property name="movieRepository" ref="movieRepository"></property>
    </bean>

    <bean id="movieRepository" class="com.zayzou.dvdstore.repository.FileMovieRepository">
        <property name="file" value="./movies.txt"></property>
    </bean>

</beans>